# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/szpic-miniaturowy-pomeranian---jaki-to-pies_85.jpg
/chow-cow-dog.jpg
