@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:700|Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FAF3DD;
    --secondary-color: #70ABAF;
    --secondary-color-dark: #527D80;
    --tertiary-color: #736372;
    --fourth-color: #B98EA7;

    --header: 'Archivo Narrow', sans-serif;
    --body: 'Josefin Sans', sans-serif;

    --h1-size: 3rem;
    --h2-size: 1.5rem;
    --p-size: 1rem;
}

h1 {
    font-family: var(--header);
}

p,
h2,
a {
    font-family: var(--body);
}

a {
    text-decoration: none;
    color: var(--secondary-color-dark)
}

a:hover {
    color: var(--secondary-color)
}

header {
    background-color: var(--primary-color);
    padding: 1rem;
    font-size: 18px;
    font-weight: 500;
    font-family: 'helvetica';
    border-radius: 8px;

}

.wrapper {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapper {
    text-align: center;
}

.typoWrap {
    text-align: left;
}

header > h1 {
    font-size: 40px;
}

.color {
    display: flex;
    justify-content: space-around;
}

.allcolor {
    margin-top: .5rem;
    margin-right: 1rem;
    width: 15%;
    height: 250px;
    text-align: center;
    padding: 1rem;
    display: inline-block;
    border: 0.5px solid black;
}

.name {
    font-weight: 300;
}

.color1 {
    background-color: var(--primary-color);
}

.color2 {
    background-color: var(--secondary-color);
}

.color3 {
    background-color: var(--tertiary-color);
}

.color4 {
    background-color: var(--fourth-color);
}

.typography {
    display: flex;
    flex-direction: column;
}

.typo1 {
    font-size: var(--h1-size);
    line-height: 1rem;
}

.typo2 {
    font-size: var(--h2-size);
}

.p {
    font-size: var(--p-size);
}

.ImageButtonsWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn1 {
    border: none;
    padding: 1rem;
    margin: 1rem;
   font-size: 2rem;
    border-radius: 1rem;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.btn1:hover {
    background-color: var(--fourth-color);
    box-shadow: .5rem .5rem 1rem rgba(0,0,0,0.15);

}

.btn2 {
    border: none;
    padding: 1rem;
    margin: 1rem;
   font-size: 2rem;
    border-radius: 1rem;
    background-color: var(--fourth-color);
    color: var(--primary-color);

}

.btn2:hover {
    background-color: var(--tertiary-color);
    box-shadow: .5rem .5rem 1rem rgba(0,0,0,0.15)
}

.images {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 150px;
    position: relative;
    border-radius: 12px;
    margin-top: 1rem;
}

img {
    margin: auto;
    transition:all 1s;
    width: 250px;
    height: 150px;
    border-radius: 12px;
}

img:hover {
    width: 150px;
    border-radius: 100%;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    background-color: var(--primary-color);
    padding: 1rem;
    font-size: 10px;
    font-weight: 500;
    font-family: 'helvetica';
    border-radius: 8px;
    text-align: center;
}
